/*codigos da home_fornecedores, novo fornecedor e alterar fornecedor*/

form#inserir-cliente{
margin: 0 25vw;
width: 50vw;
background: var(--bg-form);

}

label#banana-cliente{
	display:block;
	font-size: 26px;
	font-weight: bolder;
}


#button-banana-cliente{
	background: var(--bg-btn);
	font-size: 2rem;
}