/*codigos da home_fornecedores, novo fornecedor e alterar fornecedor*/

form#inserir-fornecedor{
margin: 0 25vw;
width: 50vw;
background: var(--bg-form);

}

#banana-fornecedor{
	display:block;
	font-size: 26px;
	font-weight: bolder;
}

#button-banana-fornecedor{
	background: var(--bg-btn);
	font-size: 2rem;
}