@import "./nav.css";
@import "./footer.css";
@import "./fornecedores.css";
@import "./clientes.css";
@import "./produtos.css";
@import "./home_global.css";

/*Globais*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	/*cores do site*/
--text-primary:	#7C6354;
--bg-btn: #7F5F00;
--bg-site: #F8FCDA;
--bg-form: #F9FBB2;
--bg-input: #7F5F00;
}

button{
	cursor: pointer;
	color: var(--bg-btn);
}

body{
	background: var(--bg-site);
}

h1, h2, h3, h4, h5, h6{
	color: var(--text-primary);
}

a{
	background: var(--bg-btn);
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
}

.align-main{
	margin: 0 25vw;
}

/*Campos de entrada de todo o site*/
input{
	border: 3px dashed black;
	border-radius: 15%;
	background: var(--bg-input);
	padding: 10px;
	width: 80%;
	margin-bottom: 2rem;
	color: white;
}


